<nav class="navbar navbar-default navbar-fixed-bottom">
    <footer class="container footer-content">
        &copy; 2023 Nausicaan
        <a href="https://discord.com/channels/@farghul#6751"><i class="fa-brands fa-discord"></i></a>
        <a href="https://github.com/nausicaan"><i class="fa-brands fa-github"></i></a>
        <a href="https://linkedin.com/in/byron-stuike"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://defcon.social/@farghul"><i class="fa-brands fa-mastodon"></i></a>
        <a href="https://www.reddit.com/user/farghul"><i class="fa-brands fa-reddit"></i></a>
    </footer>
</nav>